body {
    margin: 0;
    padding: 0;
    background-color: rgba(248, 248, 248, 1);
}


/*шрифты*/

@font-face {
    font-family: "TTLakes-Medium";
    src: url("fonts/TTLakes-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "TTLakes-Bold";
    src: url("fonts/TTLakes-Bold.ttf") format("truetype");

}

@font-face {
    font-family: "TTLakes-Light";
    src: url("fonts/TTLakes-Light.ttf") format("truetype");
}

.header {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 88px;
}

.header__block1,
.header__block2 {
    display: flex;
    align-items: center;
}

.header__block1 {
    justify-content: flex-start;
}

.header__block2 {
    justify-content:flex-end;
}

.header__vertical-line {
    width: 2px;
    height: 32px;
    margin-right: 15px;
    border-left: 3px solid #EAEAEA;
    border-radius: 1px 0px 0px 0px;
}
.header__icon {
    margin-right: 20px;
}
.main {
    margin-top:42px;
    margin-bottom: 16px;
    margin-right: 24px;
}

.main__title-block { /* блок header (но main в десктопе) */
    width: 100%;
    display:flex;
}

.main__title-line { /* линия заголовка */
    height: 40px;
    border-right: 4px solid #41F6D7;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main__title { /* оформление заголовка h1 */
    font-family: "TTLakes-Bold";
    font-size: 28px;
    padding-left: 33px;
    width: 266px;
    height: 40px;
    margin: 0;

}

.main__action-buttons{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-bottom: 16px;
}

.main__button {
    display: flex;
    align-items: center;
    margin-left: 10px;
    border: 0;
    background-color: rgba(248, 248, 248, 1);
}

.main__button-text {
    font-family: "TTLakes-Medium";
    font-size: 16px;
    line-height: 24px;
    margin-right:10px;
}

.main__button-icon {
    width: 40px;
    height: 40px;
}

.main__nav-list {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-left: 35px;
    padding:0;
    
}

.main__nav-link {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    color: rgba(126, 126, 130, 1);
    font-family: "TTLakes-Medium";
    font-size: 16px;
    line-height: 24px;
    white-space:nowrap; 
}

.main__nav-item:first-child {
    outline: 2px solid rgba(184, 255, 236, 1);
    border-radius: 6px;
}


.main-content {
    margin: 0 auto;
    font-family: TTLakes-Light;
}

.main-content__containers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:48px;
}
  
.main-content__container1 {
    margin-left:35px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.main-content__text1 {
    margin-top: 0;
}

.main-content__container2 {
    border-radius: 6px;
}

.main-content__read-more {
    margin-left:10px;
}
.read-more__text {
    font-size: 16px;
    padding-left: 10px;
}



@media (min-width:320px) and (max-width: 767px) 
{
    .header__block1 .header__vertical-line,
    .header__block2 a.header__icon-call,
    .header__block2 a.header__icon-chat,
    .header__block2 a.header__icon-profile,
    .main__action-buttons,
    .main__nav-item:nth-child(1),
    .main__nav-item:nth-child(4),
    .main__nav-item:nth-child(5),
    .main__nav-item:nth-child(6),
    .main__nav-item:nth-child(7),
    .main-content__text2 {
        display: none;
    }

    .main-content__containers {
        display:block;
    }

    .main__nav-link {
        padding: 5px 10px;
    }

    .header__block1:first-child,
        .main__nav-list,
        .main-content__container1 {
        margin-left: 16px;
    } 
    
    .main__nav-item:nth-child(3) {
        overflow-x: auto;
        white-space: nowrap;
        max-width: 200px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .main__nav-item:nth-child(3)::-webkit-scrollbar {
        /* Chrome, Safari, Edge */
        display: none;
    }
    .header__icon {
        margin-right: 16px; 
    }
    .main__title {
        padding-left:12px;
    }
    .main {
        margin-top: 24px;
    }
    .main__nav-item:nth-child(2) {
        outline: 2px solid rgba(184, 255, 236, 1);
        border-radius: 6px;
    }
}

@media (min-width:768px) and (max-width: 1119px) 
{

    .main__action-buttons{
        display: none;
    }

    .main{
        margin-top: 24px;
    }

    .main-content__containers {
        margin-top: 35px;
    }

    .main__nav {
        margin-top: 32px;
    }

    .main__nav-item:nth-child(1),
    .main__nav-item:nth-child(5),
    .main__nav-item:nth-child(7) {
        display: none;
    }   
    .main__nav-link {
        padding: 5px 11px;
    }

    .main__nav-item:nth-child(6) {
        overflow-x: auto;
        white-space: nowrap;
        max-width: 200px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .main__nav-item:nth-child(6)::-webkit-scrollbar {
        /* Chrome, Safari, Edge */
        display: none;
    }
    .main__nav-list {
        margin-left: 0;
    }

    .main-content__text2--hide-on-tablet {
        display:none;
    }

    .main-content__container1,
    .main__nav-item:nth-child(2),
    .header__block1:first-child {
        margin-left: 24px;

    }
    .main__title {
        padding-left: 22px;
}
    .main__nav-item:nth-child(2) {
        outline: 2px solid rgba(184, 255, 236, 1);
        border-radius: 6px;
}

}

@media  (min-width:1120px) 
{
    .header {
        display: none;
    }

    .main__nav-item:nth-child(3) {
        display: none;
    }

    .main__nav-item:nth-child(2) {
        border: none;
    }
    .main__nav-list {
        flex-wrap: wrap;
        }
}